<!DOCTYPE html>
<html>
  <head>
    <title>Calc for OnePageCrm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron" type='text/css'/>
  </head>

  <body>
    <div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
      <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">
          <%= yield %>
          <%= javascript_pack_tag 'application' %>
        </div>
      </div>
    </div>
  </body>
</html>
